body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana, sans-serif;
	line-height: 1.3em;
	background: #fff url(https://www.siteground.com/img/new_def_index/page_bg.png) repeat-x left top;
	color: #666;
}
header {
    position: static;
    clear: both;
}
section {
    text-align: left;
    position: static;
}
hgroup {
    height: 150px;
    position: static;
}
#underConstruction {
    border: 0px;
    text-align: center;
    margin: 0 0 0 250px;
}
h1, h2, h3, h4, h5, h6 { line-height: normal;}
img { border: 0; }
ul { margin: 0; padding: 0; list-style: none; } 
.clr { clear: both; height: 0; line-height: 0; font-size: 0; }

#wrapper { width: 822px; margin: 50px auto 0; background: #fff url(https://www.siteground.com/img/new_def_index/top_center.png) repeat-x left top; }

.m_l { background: url(https://www.siteground.com/img/new_def_index/middle_left.png) repeat-y left center; } 
.m_r { background: url(https://www.siteground.com/img/new_def_index/middle_right.png) repeat-y right center; } 

.t_l { background: url(https://www.siteground.com/img/new_def_index/top_left.png) no-repeat left top; } 
.t_r { background: url(https://www.siteground.com/img/new_def_index/top_right.png) no-repeat right top; } 

.b_m { background: url(https://www.siteground.com/img/new_def_index/bottom_center.png) repeat-x left bottom; } 
.b_l { background: url(https://www.siteground.com/img/new_def_index/bottom_left.png) no-repeat left bottom; } 
.b_r { background: url(https://www.siteground.com/img/new_def_index/bottom_right.png) no-repeat right bottom; padding: 0 36px; } 

.default h1 { height: 50px; line-height: 60px; margin: 0; font-size: 36px; text-align: center;}
.default h2 { font-size: 24px; text-align: center; margin: 0px;}
.default h3 { color: #999; text-align: center; border-bottom: 1px solid #f2f2f2; padding: 0 0 6px; }
.default h4 { text-align: left; oolor:#578bcb; padding: 0 0 0 15px; margin: 0 0 4px; background: url(https://www.siteground.com/img/new_def_index/serv_arrow.gif) no-repeat left center; }
p.intro { width: 630px; margin: 0 auto 70px; text-align: center; }
p.intro a, p.intro a:link, p.intro a:visited { color: #578bcb; }
p.intro a:hover { text-decoration: none; }
.services {	float: left; width: 100%; margin-top: 10px; background: #fff url(https://www.siteground.com/img/new_def_index/sb_top_center.png) repeat-x left top; }
.services a, .services a:link, .services a:visited { font-size: 11px; color: #4f4f4f; text-decoration: none; text-align: left; }
.services a:hover {	text-decoration: underline; }

.sb_m_l { background: url(https://www.siteground.com/img/new_def_index/sb_universal.png) repeat-y left center; } 
.sb_m_r { background: url(https://www.siteground.com/img/new_def_index/sb_universal.png) repeat-y right center; } 

.sb_t_l { background: url(https://www.siteground.com/img/new_def_index/sb_top_left.png) no-repeat left top; } 
.sb_t_r { background: url(https://www.siteground.com/img/new_def_index/sb_top_right.png) no-repeat right top; } 

.sb_b_m { background: url(https://www.siteground.com/img/new_def_index/sb_universal.png) repeat-x left bottom; } 
.sb_b_l { background: url(https://www.siteground.com/img/new_def_index/sb_bottom_left.png) no-repeat left bottom; } 
.sb_b_r { background: url(https://www.siteground.com/img/new_def_index/sb_bottom_right.png) no-repeat right bottom; padding: 10px; } 

footer { margin: 0 auto; height: 47px; text-align: center; }
footer span { float: left; line-height: 47px; margin: 0 8px 0 0; font-weight: bold; color: #999; }
footer p a { float: left; }
footer ul li {
    display: table-cell;
    margin:  0 50px 0 0;
    padding:  0 50px 0 0;
}
.featured {
    margin: 0 0 20px 0px;
}
.featured li{
    list-style: none;
    display: block;
    height: 25px;
    margin: 10px 0 0 0;
}
.featured li span {
    background-image: url(http://www.webdesign-benny.be/projects/general/img/icons/24/ok.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 0 0 30px;
}